@font-face {
    font-family: 'railway_to_hellsregular';
    src: url('./font/railway_to_hells-webfont.eot');
    src: url('./font/railway_to_hells-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/railway_to_hells-webfont.woff2') format('woff2'),
         url('./font/railway_to_hells-webfont.woff') format('woff'),
         url('./font/railway_to_hells-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'romance_fatal_serif_stdRg';
    src: url('./font/romance_fatal_serif_jc_fonts-webfont.eot');
    src: url('./font/romance_fatal_serif_jc_fonts-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/romance_fatal_serif_jc_fonts-webfont.woff2') format('woff2'),
         url('./font/romance_fatal_serif_jc_fonts-webfont.woff') format('woff'),
         url('./font/romance_fatal_serif_jc_fonts-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
  padding: 0;
  margin: 0;
}

body {
}

.navbar-fixed nav {
  background-color: black;
}

#cross {
  width: 3%;
}

.brand-logo img {
  width: 25%;
}

#login-button {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.footer {
  background-color: black;
}



body {
    /* background: #f00; */
    font-family: 'romance_fatal_serif_stdRg';
}

.photos-container  {
    position: relative;
    height:290px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.603); */
}

.photos-container li  {
    list-style:none;
    margin:0;
    padding:0;
    position: absolute;
    top:0px;
    left:0px;
    /* opacity: 0; */
}

.img1 {
    opacity: 1;
}
.img2 {
    opacity: 0;
}
.img3 {
    opacity: 0;
}

.photos-container img  {
    width:auto;
}

.thumbnails  {
    margin-top:20px;
}

.thumbnails li {
    list-style:none;
    margin:0;
    padding:0;
    float: left;
    width:33.3%;
    /* background: #0f0; */
}

.thumbnails img:hover {
    opacity: 1;
    cursor: pointer;
}

.on {
    opacity: 1;
}
.off {
    opacity: 0.6;
}